<% provide(:title, 'Contact') %>
<div class="center jumbotron">

  <%= link_to image_tag("bmstu-emblem.png", alt: "Rails logo"),
              'https://students.bmstu.ru' %>

  <h1>

Создатели</h1>

  <h2>
    ИУ6-55Б <a href="https://portfolio.bmstu.ru/portfolio/single/2b729c70-7eb0-11e8-9a77-005056962143"> Лях Юлия</a> и <a href="https://portfolio.bmstu.ru/portfolio/single/65b42028-7f7f-11e8-9481-005056962143"> Лыщик Андрей</a>

  </h2>
  <h3>
    2020 год
    </h3>
</div>
