<% provide(:title, "Help") %>
  <h1>Help</h1>
<div class="center jumbotron">
  <h3>
   Для просмотра карты следует перемещать мышь по карте и использовать кнопки, соответствующие каждому этажу ГУК.
  </h3>
  <h3>
	 Для поиска аудитории и дальнейшего ее отображения на карте здания следует нажать на поле выбора аудитории, выбрать искомую аудиторию из выпадающего списка и нажать кнопку «Найти аудиторию» и произойдет выделение области искомой аудитории.
  </h3>
  <h3>
  Для построения маршрута требуется нажать на поле «пункт отправления» и выбрать начальную аудиторию из выпадающего списка, затем нажать на поле «пункт назначения» и выбрать конечную аудиторию. После выбора аудиторий пользователь должен нажать на кнопку «проложить маршрут»
  </h3>
  <h3>
  Если маршрут проходит через несколько этажей, то следует нажать кнопку «далее» для переключения на другой этаж маршрута.
  </h3>
  <h3>
	Для отмены выделения маршрута на карте ГУК требуется нажать кнопку «завершить», после чего можно строить следующий маршрут.
  </h3>

</div>
