<div class="center jumbotron">
  <%= link_to image_tag("bmstu-emblem.png", alt: "Rails logo"),
              'https://students.bmstu.ru' %>
              
  <h1>

Добро пожаловать</h1>

  <h2>
    Мы поможем тебе не заблудиться в <a href="https://bmstu.ru"> МГТУ им. Н. Э. Баумана</a>!

  </h2>

  <%= link_to "Try it now!", '#', class: "btn btn-lg btn-primary" %>
</div>
