<div class="center jumbotron">
<div class="map">
	<svg viewBox="0 0 763 531">
		<a href="#">
			<path class="part" d="m 310.16943,68.577014 c 18.17486,54.966116 27.85419,110.931706 17.61612,169.240526 l 91.2263,-4.40403 C 429.81951,180.35545 414.9446,127.29739 390.70024,74.239336 Z" fill="#bf2523" boxt-data="<%= image_tag('1.jpg') %> Реберная часть (толстый край) — первосортное мясо, в цельном виде состоит из 13 ребер">
			</a>
			<a href="#">
			<path class="part" d="m 419.01185,233.41351 101.9218,-0.62915 c -2.66849,-62.1338 -8.75072,-126.47601 -39.63626,-157.915877 l -90.59715,-0.629147 c 31.90807,51.435294 31.03294,106.016504 28.31161,159.174174" fill="#bf2523" boxt-data="<%= image_tag('2.jpg') %> Реберная часть (толстый край) — первосортное мясо, в цельном виде состоит из 13 ребер">
			</a>
		</svg>
    <div class="boxt">

    </div>
<%= javascript_include_tag 'map_test' %>
     <%= image_tag("cow.png") %>

 </div>
</div>
