// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.map {
	position: relative;
	text-align: center;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.part {
	opacity: .3;
}

.part:hover {
	transition: opacity .2s ease;

	opacity: .66;
	cursor: pointer;
}

.description {

	display: none;
	position: absolute;
	padding: 20px;
	box-sizing: border-box;
	width: 400px;
	height: 175px;
	box-shadow: 0 0 32px 10px #9fb3c7d8;
	left: 370px;
	background-color: #82befa;
	opacity: 0.8;
	bottom: calc(50% - 300px);
	font-family: sans-serif;
}

.description img {
	width: 150px;
	margin-bottom: 20px;
}
.jumbotron{
  height: 550px;
}
.map img {
  width: 900px;

}
