// Place all the styles related to the MapTest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {margin: 0; padding: 0;}

.map {
	position: relative;
	text-align: center;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.part {
	opacity: .3;
}

.part:hover {
	transition: opacity .2s ease;
	opacity: .5;
	cursor: pointer;
}


.boxt {
  display: none;
	position: absolute;
	padding: 10px;
	box-sizing: border-box;
	width: 150px;
	height: 200px;
	box-shadow: 0 0 16px 5px #ccc;
	left: 50px;
	bottom: calc(50% - 135px);
	font-family: sans-serif;

}
.boxt img {
	width: 125px;
	margin-bottom: 10px;
}
