<div class="map">
  <div id="floor" class="floor">
</div>
    <div class="description"/>
    </div>
<%= javascript_include_tag 'bmstuMap' %>
</div>
<div >
    <input name="Floor2" type="submit" value="Floor 2" class="wrap1-btn2" />
    <input name="Floor3" type="submit" value="Floor 3" class="wrap1-btn3" />
</div>
