<div class="map">
  <svg viewBox="0 0 1382.6667 974.66669">

    <% @rooms.each do |item|%>
    <path class="part" d= "<%= item.coord%>"
         fill="#82befa" description-data = "<%=item.name%>" />
<% end %>


    </svg>

    <div class="description"/>

    </div>
    <div class="container1">
      <img src="/images/bmstu0floor.jpg" alt="" class="wrap1-img1">
      <img src="/images/bmstu1+floor.jpg" alt="" class="wrap1-img2">
      <img src="/images/bmstu2floor.jpg" alt="" class="wrap1-img3">

    </div>
<%= javascript_include_tag 'bmstuMap' %>

</div>
<div >
  <button class="wrap1-btn1">0 Floor</button>
  <button class="wrap1-btn2">1 Floor</button>
  <button class="wrap1-btn3">2 Floor</button>
</div>
