
<div class="map">
  <svg viewBox="0 0 1090 775.33331">
      <path class="part" d="m 323.24407,358.60598 h 64.3768 l -0.45336,35.3619 h -63.92344 z"
       fill="#82befa" bxt-data = "<%= image_tag("2.jpg") %> Реберная часть (толстый край) — первосортное мясо, в цельном виде состоит из 13 ребер">

      <path class="part" d="m 322.79071,331.40451 0.45336,27.20147 h 64.3768 v -27.20147 z"
      fill="#82befa" bxt-data = "<%= image_tag("1.jpg") %> Филей (поясничная часть, тонкий край). Этот отруб содержит нежное и очень постное мясо.">

      <path class="part" d="m 93.391695,394.8746 24.027965,-0.45336 -0.90672,-24.48132 160.48864,1.36007 0.45336,24.02796 45.78913,-1.36007 v 47.14921 L 93.391695,440.66373 Z"
      fill="#82befa" bxt-data = "<%= image_tag("cow.jpg") %> Филей (поясничная часть, тонкий край). Этот отруб содержит нежное и очень постное мясо.">
    </svg>

    <div class="bxt">
    </div>

<img src="http://pixs.ru/images/2020/11/10/E1654181-C5C8-4177-A51F-DAB6436F803B.md.png" alt="">
<!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js"></script>
<script src="libs/html5shiv/html5shiv.min.js"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="libs/respond/respond.min.js"></script>
<![endif]-->
</div>
