<div class="map">
  <svg viewBox="0 0 1382.6667 974.66669">

    <% @rooms.each do |item|%>
    <path class="part" d= "<%= item.coord%>"
         fill="#82befa" description-data = "<%=item.name%>" />
<% end %>



  <!--     <path class="part" d="m 413.73606,449.54015 v 45.08662 l 82.21678,-1.32608 v -42.43447 z"
      fill="#82befa" description-data = " "/>
        <path class="part" d="m 136.58594,587.45217 v 35.80408 l 66.30386,1.32608 v -35.80409 z"
           fill="#82befa" description-data = " Кафе «Чайная пара» "/>

      <path class="part" d="m 123.32517,552.97416 291.73697,1.32608 -1.32608,-59.67347 h -55.69524 v -29.1737 H 153.82495 l -1.32608,31.82585 h -29.1737 z"
      fill="#82befa" description-data = " Столовая «Студенческая» "/>

      <path class="part" d="m 204.21588,590.10432 v 34.47801 h 57.02131 v -34.47801 z"
      fill="#82befa" description-data = " Ауд. 259 "/>

      <path class="part" d="m 261.23719,590.10432 v 34.47801 l 49.06486,-1.32608 -2.65216,-34.47801 z"
      fill="#82befa" description-data = "  Ауд. 257 "/>

      <path class="part" d="m 307.64989,588.77824 2.65216,34.47801 67.62993,-1.32608 v -31.82585 z"
      fill="#82befa" description-data = " Блинная/Пиццерия "/>

      <path class="part" d="m 377.93198,590.10432 v 31.82585 h 64.97778 v -33.15193 z"
      fill="#82befa" description-data = " Столовая «Профессорско-преподавательская» "/>

      <path class="part" d="m 98.129707,623.25625 v -17.239 h 37.130163 v 15.91292 z"
      fill="#82befa" description-data = " <img src='https://lh3.googleusercontent.com/proxy/vXpubSJ9rKPMLL_aoML0npK87_j0zmyDSZ1L8JwSkim3JFx3F8hyRZ0ynO52D1WYvf48CK2M1NtIOTXV9F_fsui4oXjHpZlaNG6NRo5Of7MWfoggwD59F5w' alt='nonononono' />Туалет "/>



      <path class="part" d="m 537.06124,432.30114 1.32607,59.67347 64.97778,-1.32607 -1.32608,-57.02132 z"
      fill="#82befa" description-data = " Ауд. 225
      ИСОТ "/>

      <path class="part" d="m 98.129707,623.25625 v 31.82585 l 25.195463,1.32608 -2.65215,-33.15193 z"
      fill="#82befa" description-data = " Ауд. 262 "/>

      <path class="part" d="m 98.129707,655.0821 0.181575,47.62984 26.073858,0.42744 -1.05997,-46.7312 z"
      fill="#82befa" description-data = " Ауд. 264 "/>

      <path class="part" d="m 98.311282,702.71194 26.073858,0.42744 -0.85488,41.46172 H 98.311282 Z"
      fill="#82befa" description-data = " Ауд. 266 "/>

      <path class="part" d="m 98.311282,744.6011 h 25.218978 l -0.42744,43.17147 H 98.738722 Z"
      fill="#82befa" description-data = " Ауд. 268 "/>

      <path class="part" d="m 98.738722,787.77257 0.42744,52.14773 24.364098,-0.42744 -0.42744,-51.72029 z"
      fill="#82befa" description-data = " Ауд. 270 "/>
      <path class="part" d="m 99.166162,839.9203 24.364098,-0.42744 v 61.97885 H 98.311282 Z"
      fill="#82befa" description-data = " Ауд. 272 "/>

      <path class="part" d="M 58.986769,900.18939 H 29.920825 l -0.42744,-75.2295 h 29.065944 z"
      fill="#82befa" description-data = " Ауд. 271 "/>

      <path class="part" d="m 29.493385,824.95989 v -44.4538 h 28.638503 l 0.427441,44.4538 z"
      fill="#82befa" description-data = " Ауд. 269 "/>

      <path class="part" d="M 29.065944,918.14188 H 58.986769 V 957.4664 H 29.493385 Z"
      fill="#82befa" description-data = " Ауд. 273 "/>


<path class="part" d="m 29.065944,301.77289 h 29.920825 v 64.11605 l -29.493384,0.42744 z"fill="#82befa" description-data = " Дом Физики Лаб. 249 "/>
-->
    </svg>

    <div class="description"/>

    </div>

<%= javascript_include_tag 'bmstuMap' %>
      <%= image_tag("bmstu2floor.jpg") %>


</div>
