<div class="map">
  <svg viewBox="0 0 1382.6667 974.66669">

    <% @rooms.each do |item|%>
    <path class="part" d= "<%= item.coord%>"
         fill="#82befa" description-data = "<%=item.name%>" />
<% end %>


    </svg>

    <div class="description"/>

    </div>

<%= javascript_include_tag 'bmstuMap' %>
      <%= image_tag("bmstu2floor.jpg") %>


</div>
