<div class="map">
  <div id="floor" class="floor">
</div>
    <div class="description"/>
    </div>
<%= javascript_include_tag 'bmstuMap' %>
</div>
<div >
    <input name="Floor0" type="submit" value="Floor 0" class="wrap1-btn0" />
    <input name="Floor1" type="submit" value="Floor 1" class="wrap1-btn1" />
    <input name="Floor2" type="submit" value="Floor 2" class="wrap1-btn2" />
    <input name="Floor3" type="submit" value="Floor 3" class="wrap1-btn3" />
    <input name="Floor4" type="submit" value="Floor 4" class="wrap1-btn4" />
    <input name="Floor5" type="submit" value="Floor 5" class="wrap1-btn5" />
</div>
