
<div class="map">
  <svg viewBox="0 0 1382.6667 974.66669">


     <for ($n =1; $n < 3; $n++)
    {
    <path class="part" d= "<%= Room.find($n).coord %>"
    fill="#82befa" description-data = " <%= Room.find($n).name %> "/>
    }/>









      <path class="part" d="m 413.73606,449.54015 v 45.08662 l 82.21678,-1.32608 v -42.43447 z"
      fill="#82befa" description-data = " "/>











      <path class="part" d="m 98.129707,623.25625 v -17.239 h 37.130163 v 15.91292 z"
      fill="#82befa" description-data = " <img src='https://lh3.googleusercontent.com/proxy/vXpubSJ9rKPMLL_aoML0npK87_j0zmyDSZ1L8JwSkim3JFx3F8hyRZ0ynO52D1WYvf48CK2M1NtIOTXV9F_fsui4oXjHpZlaNG6NRo5Of7MWfoggwD59F5w' alt='nonononono' />Туалет "/>



      <path class="part" d="m 537.06124,432.30114 1.32607,59.67347 64.97778,-1.32607 -1.32608,-57.02132 z"
      fill="#82befa" description-data = " Ауд. 225
      ИСОТ "/>


<path class="part" d="m 29.065944,301.77289 h 29.920825 v 64.11605 l -29.493384,0.42744 z"fill="#82befa" description-data = " Дом Физики Лаб. 249 "/>
    </svg>

    <div class="description"/>

    </div>

<%= javascript_include_tag 'bmstuMap' %>
      <%= image_tag("bmstu2floor.jpg") %>


</div>
